.map-static-left {

	height: 100%;

	@media #{$above-tablet} {
		position: fixed;
		top: 56px;
		right: 0;
		bottom: 0;
		width: 40%;
	}

	.search-icon {
		opacity: 0.75;
	}

	.search-icon:hover {
		opacity: 1;
	}

	.search-icon.selected {
		opacity: 1;
		box-shadow: 5px 5px 5px;
	}
}

.row-map-wrapper {
	margin-bottom: 20px;
	height: 300px;

	@media #{$above-tablet} {
		height: 600px;
	}
}