@import "map";
@import "logo";
@import "hero";
@import "transitions";
@import "inputs";

.opaque {
	opacity: 0.2;
}

.footer {
	background-color: darken($body-bg, 4%);
}

.overlay {
	opacity: 0.8;
	position: absolute;
	height: 110%;
	width: 100%;
	background-color: $body-bg;
	z-index: 100;
}

.ox-hidden {
	overflow-x: hidden;
}