.hero {
	margin: -15px -15px 15px;
	background-color: $hero-background-color;
	background-image: radial-gradient($hero-background-color, darken($hero-background-color, 10%) 100%);
	border-bottom: 1px solid #999;
	box-shadow: inset 0 -1px 5px rgba(0,0,0,0.5);
	padding: 30px;
	position: relative;
}