// list
.list-leave-active, .list-enter-active {
	transition: all .8s;
}

.list-enter-to {
	transition-delay: .8s;
}

.list-enter, .list-leave-to {
	opacity: 0;
	transform: translateY(30px);
}

// fade
.fade-enter-active, .fade-leave-active {
	transition: opacity .5s
}

.fade-enter, .fade-leave-to
{
	opacity: 0
}

//slide-fade
.slide-fade-leave-active, .slide-fade-enter-active {
	transition: all .8s;
}

.slide-fade-enter {
	transform: translateX(100%);
	opacity: 0;
}

.slide-fade-enter-active {
	position: absolute;
	top: 0;
}

.slide-fade-leave-to {
	transform: translateX(-100%);
	opacity: 0;
}

//switch-fade

.switch-fade-leave-active, .switch-fade-enter-active {
	transition: opacity .5s;
}

.switch-fade-enter {
	opacity: 0;
}

.switch-fade-enter-active {
	position: absolute;
	top: 0;
}

.switch-fade-leave-to {
	opacity: 0;
}