html, body, #app{
	height: 100%;
	width: 100%;
}


.navbar.fixed-top + .container {
	padding-top: 70px;
}

.navbar.fixed-top + .container-fluid {
	padding-top: 70px;
}

@media #{$under-tablet} {
	.navbar.fixed-top + .container {
		padding-top: 57px;
	}

	.navbar.fixed-top + .container-fluid {
		padding-top: 55px;
	}

	.w-100-sm-down{
		width: 100%;
	}
}

.form-inline {
	.form-group {
		vertical-align: top;
	}
}
