html, body, #app {
	height: 100%;
	width: 100%;
}

.navbar.fixed-top + .container {
	padding-top: 70px;
}

.navbar.fixed-top + .container-fluid {
	padding-top: 70px;
}

.nav-link {
	cursor: pointer;
}

@media #{$under-tablet} {
	.navbar.fixed-top + .container {
		padding-top: 57px;
	}

	.navbar.fixed-top + .container-fluid {
		padding-top: 55px;
	}

	.w-100-sm-down {
		width: 100%;
	}
}

.form-inline {
	.form-group {
		vertical-align: top;
	}
}

.is-invalid {
	> .invalid-feedback {
		display: block;
	}

	> .input-group {
		> * {

			border-top-color: #dc3545;
			border-bottom-color: #dc3545;
			&:last-child {
				border-right-color: #dc3545;
			}
			&:first-child {
				border-left-color: #dc3545;
			}
		}
	}

}

.btn {
	cursor: pointer;
}