html, body, #app{
	height: 100%;
	width: 100%;
}


.navbar-fixed-top + .container {
	padding-top: 70px;
}

.navbar-fixed-top + .container-fluid {
	padding-top: 70px;
}

.bottom-margin {
	margin-bottom: 10px;
}

.form-inline {
	.form-group {
		vertical-align: top;
	}
}
