$above-iphone-retina: "only screen and (min-width : 320px)";
$above-phone: "only screen and (min-width : 480px)";
$above-tablet: "only screen and (min-width : 768px)";
$above-desktop: "only screen and (min-width : 992px)";
$above-wide-screen: "only screen and (min-width : 1200px)";

$under-iphone-retina: "only screen and (max-width : 320px)";
$under-phone: "only screen and (max-width : 480px)";
$under-tablet: "only screen and (max-width : 768px)";
$under-desktop: "only screen and (max-width : 992px)";
$under-wide-screen: "only screen and (max-width : 1200px)";

// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Form
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

//
$hero-background-color: #fcfcfc;
